<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OTP Verification</title>

</head>
<body>
    <main>
      <form #f="ngForm" (ngSubmit)="onSubmit()">

        <div class="row">
          <p class="instruction">Enter the OTP sent to your email</p>

          <div class="otp">
            <input type="text" id="otp"
              class="form-control form-control-lg otp-input"
              placeholder=" XXXX"
              name="otp"
              [(ngModel)]="otpData.otp_code"
              #otp="ngModel"
              [class.ng-invalid]="otp.invalid && otp.touched"
              maxlength="6"
              required>
            <div *ngIf="otp.invalid && otp.touched" class="alert">
              <p *ngIf="otp.errors?.['required']">{{ constant.REQUIRED }}</p>
            </div>
          </div>

          <div class="otp">
            <input type="email" id="email"
              class="form-control form-control-lg otp-input"
              placeholder="example@example.com"
              name="email"
              [(ngModel)]="otpData.email"
              #email="ngModel"
              [pattern]="constant.emailRegex"
              [class.ng-invalid]="email.invalid && email.touched"
              required>
            <div *ngIf="email.invalid && email.touched" class="alert">
              <p *ngIf="email.errors?.['required']">{{ constant.REQUIRED }}</p>
              <p *ngIf="email.errors?.['pattern']">{{ constant.EMAIL_INVALID }}</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <button type="submit" [disabled]="f.form.invalid" id="submitBtn" class="btn btn-primary btn-lg">Submit</button>
          </div>
          <div class="col">
            <button type="button" id="resendBtn"
              [routerLink]="['/resend-otp']" routerLinkActive="router-link-active"
              class="btn btn-outline-warning btn-lg">Resend OTP</button>
          </div>
        </div>

        <p class="error-message" id="errorMsg"></p>
        <p class="success-message" id="successMsg"></p>

      </form>

    </main>
</body>
</html>
