<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="wrapper">
    <div class="container">
      <!-- Aside Nav bar starts -->
      <div class="aside-nav-bar">
        <input type="checkbox" id="nav-checkbox" class="nav-checkbox">
      <label for="nav-checkbox" class="nav-toggle-label">
      <span></span>
      </label>
        <nav>
          <ul>
            <li  class="menu-item dashboard">
              <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i>
                <p>Dashboard</p>
              </a>
            </li>
            <li class="home">
              <a href="#">
                <i class="fa fa-home" aria-hidden="true"></i>
                <p>Home</p>
              </a>
            </li>
            <li class="menu-item signature">
              <a href="#">
                <i class="fa fa-american-sign-language-interpreting" aria-hidden="true"></i>
                <p>Signature</p>
              </a>
            </li>
            <li class="menu-item reviews">
              <a href="#">
                <i class="fa fa-rebel" aria-hidden="true"></i>
                <p>Review</p>
              </a>
            </li>
            <li class="menu-item report">
              <a href="#">
                <i class="fa fa-bug" aria-hidden="true"></i>
                <p>Report</p>
              </a>
            </li>
            <li class="menu-item supervisor">
              <a href="#">
                <i class="fa fa-tripadvisor" aria-hidden="true"></i>
                <p>Supervisors</p>
              </a>
            </li>
            <li class="menu-item personel">
              <a href="#">
                <i class="fa fa-list" aria-hidden="true"></i>
                <p>Personnels</p>
              </a>
            </li>
            <li class="menu-item account">
              <a href="#">
                <i class="fa fa-wrench" aria-hidden="true"></i>
                <p>Account</p>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!-- Aside Nav bar ends -->

      <!-- Main Content starts -->
      <div class="main-content">
        <!-- Header Start -->
        <header>
          <!-- Section 1 Content starts -->
          <div class="section1">
            <div class="context">
              <h3>Dashboard</h3>
            <span>{{ userName }}</span>
            </div>
            <div class="profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              <a href="#"  (click)="logout()">Logout</a>
            </div>
          </div>
          <!-- Section 1 Content Ends -->

          <!-- Section 2 Content starts -->
          <div class="section2">
            <div class="totalNSS">
              <div class="item-content">
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>

                <content>
                  <h6>10</h6>
                  <p>Total NSS</p>
                </content>
              </div>
            </div>

            <div class="pending">
              <div class="item-content">
                <i class="fa fa-snowflake-o" aria-hidden="true"></i>

               <content>
                  <h6>10</h6>
                  <p>Pending</p>
               </content>
              </div>
            </div>

            <div class="submitted">
              <div class="item-content">
                <i class="fa fa-paper-plane" aria-hidden="true"></i>

               <content>
                  <h6>10</h6>
                  <p>Submitted</p>
               </content>
              </div>
            </div>

            <div class="review">
              <div class="item-content">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>

                <content>
                  <h6>10</h6>
                  <p>Review</p>
                </content>
              </div>
            </div>
            <div class="manage">
              <div class="item-content">
                <i class="fa fa-deaf" aria-hidden="true"></i>
               <content> <p>Manage</p></content>
              </div>
            </div>
            <div class="cast">
              <div class="item-content">
                <i class="fa fa-fast-forward" aria-hidden="true"></i>
                <content>
                  <h6>10</h6>
                  <p>Cast</p>
                </content>
              </div>
            </div>
            <div class="totalSupervisors">
              <div class="item-content">
                <i class="fa fa-tripadvisor" aria-hidden="true"></i>

               <content>
                  <h6>10</h6>
                  <p>Supervisors</p>
               </content>
              </div>
            </div>

            <div class="messages">
              <div class="item-content">
                <i class="fa fa-comments" aria-hidden="true"></i>

                <content><p>Messages</p></content>
              </div>
            </div>
          </div>
          <!-- Section 2 Content ends -->
        </header>

        <!-- Main Content Body -->
        <main>
          <h1>Welcome to Admin Panel</h1>
          <router-outlet></router-outlet>
        </main>
      </div>
      <!-- Main Content ends -->
    </div>
  </div>
</body>
</html>
