
html, body {
    margin: 0px;
    padding: 0px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}


header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

section {
    flex: 1;
    margin-right: 1rem;
    padding: 1rem;
    background-color: #f4f4f4;
    border-radius: 5px;
}

aside {
    flex: 0.35;
    padding: 1rem;
    background-color: #e2e2e2;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}