.pdf-container {
  width: fit-content;
  max-width: 100%;
  overflow: auto;
  position: relative;
}

.upload-box {
  margin-bottom: 20px;
}

.upload-btn {
  background-color: #3498db;
  color: white;
  padding: 10px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.button-group {
  display: flex;
  gap: 10px;
}

.action-btn {
  padding: 10px 15px;
  background-color: #2ecc71;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.action-btn:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}
