<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>dashboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<div class="wrapper">
  <div class="container">
     <!-- Aside Navbar  -->
  <div class="aside">
    <div class="image">
      <img src="images/nss-image.jpeg" alt="no image found">
      <p>Welcome Supervisor</p>
    </div>
    <input type="checkbox" id="nav-checkbox" class="nav-checkbox">
    <label for="nav-checkbox" class="nav-toggle-label">
      <span></span>
    </label>
       <nav>
        <ul>
          <li class="home items">
            <a routerLink="/dashboard/home">
              <i class="fa fa-home"  aria-hidden="true"></i>
              <p>Home</p>
            </a>
          </li>
        <li class="personel items menu-item">
          <div class="ui-toolkit">
            <div class="menu-item" *ngFor="let menuItem of menuItems; let i = index" [class.active]="i === activeIndex">
              <button class="menu-button" (click)="toggleMenu(i)"> <i class="fa fa-list" aria-hidden="true"></i>
                {{ menuItem.title }}
                <span class="arrow" [style.transform]="i === activeIndex ? 'rotate(90deg)' : 'rotate(0)'">></span>
              </button>
              <div class="submenu" *ngIf="i === activeIndex">
                <a *ngFor="let subItem of menuItem.submenu" [routerLink]="subItem.link">
                <p>{{ subItem.title }}</p>
                </a>
              </div>
            </div>
          </div>
        </li>
          <li class="generate items menu-item">
            <div class="ui-toolkit">
              <div class="menu-item" *ngFor="let reportItem of reportItems ; let i = index" [class.active]="i === reportIndex">
                <button class="menu-button" (click)="reportToggleMenu(i)"> <i class="fa fa-bug" aria-hidden="true"></i>
                 <p> {{ reportItem.title }}</p>
                  <span class="arrow" [style.transform]="i === reportIndex  ? 'rotate(90deg)' : 'rotate(0)'">></span>
                </button>
                <div class="submenu" *ngIf="i === reportIndex ">
                  <a *ngFor="let subItem of reportItem.submenu">
                   {{ subItem.title }}
                  </a>
                </div>
              </div>
            </div>
          </li>
          <li class="evaluate items">
            <a href="">
              <i class="fa fa-envira" aria-hidden="true"></i>
              <p> Evaluate</p>
            </a>
          </li>
          <li class="account items">
            <a href="">
              <i class="fa fa-wrench" aria-hidden="true"></i>
              <p>Account</p>
            </a>
          </li>
        </ul>
       </nav>
  </div>
      <!-- Aside Navbar Ends -->
     <div class="main-content">
      <!-- Header Contentent -->
       <header>
        <!-- Section1 Contentent -->
        <div class="section1">
            <div class="context">
              <h3>Dashboard</h3>
            </div>
            <div class="profile">
              <i class="fa fa-user" aria-hidden="true"></i>
              <a >Logout</a>
            </div>
          </div>
          <hr class="custom-hr">
          <!-- Section1 Ends -->

           <!-- Section2 Contentent -->
        <div class="section2">
           <!-- TotalNSS Contentent -->
            <div class="totalNSS">
                <div class="text">
                    <h6>{{ userCounts.total_users}}</h6>
                    <p>Students</p>
                    <small>2025/2026</small>
                </div>
                <div class="icons">
                    <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                </div>
          </div>

           <!-- TotalNSS Contentent -->
                   <!-- Submitted Contentent -->
                   <div class="submitted">
                    <div class="text">
                        <h6>{{userCounts.nssmembers_count}}</h6>
                        <p>Submitted</p>
                        <small>April</small>
                    </div>
                    <div class="icons">
                      <i class="fa fa-paper-plane" aria-hidden="true"></i>
                    </div>
              </div>
               <!-- Submitted Contentent Ends-->
                <!-- Review Contentent -->
            <div class="review">
              <div class="text">
                  <h6>90</h6>
                  <p>Review</p>
                  <small> 2025/2026 </small>
              </div>
              <div class="icons">
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
              </div>
        </div>
         <!-- Review Contentent Ends-->
               <!-- Pending Contentent -->
               <div class="pending">
                <div class="text">
                    <h6>{{userCounts.supervisors_count}}</h6>
                    <p>Pending</p>
                    <small>2025/2026 </small>
                </div>
                <div class="icons">
                  <i class="fa fa-snowflake-o" aria-hidden="true"></i>
                </div>
          </div>
           <!-- Pending Contentent Ends-->
        </div>
       </header>

      <!-- Header Contentent Ends-->

         <!-- Main Content -->
         <div class="main">
          <main>
            Welcome To Main Page
            <router-outlet></router-outlet>
          </main>
        </div>
     </div>
  </div>
</div>
</body>
</html>
