body{
    width: 80%;
    padding: 10px;
    margin: 0 auto;
    /* background: #333333; */
}
table{
    width: 80%;
    border-collapse: collapse;
    margin: 20px 0px 20px 0px;
}
th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}
th{
    background-color: #f2f2f2;
}
tfoot{
    background: aquamarine;
}