<div class="main">
  <div class="header">
      <h6>Your general information area</h6>
      <h1>Dashboard</h1>
  </div>
  <!--Section1 Started -->
  <div class="section1">
      <h1>Welcome To Your Dashboard Area</h1>
      <h2>National Service Authority - Personel Dashboard</h2>
  </div>
  <!-- Hero Section Started -->
  <div class="hero">
      <!-- Basic Section Started -->
      <div class="basicinfo">
          <b><h3>basic info</h3></b>
      </div>
      <div class="personelName">
          <div class="info">
              <h3>Personel Name</h3>
              <p>Boansi Collins Kyeremateng</p>
          </div>
          <div class="institude">
              <h3>Institution</h3>
              <p>UNIVERSITY OF ENERGY AND NATURAL RESOURCES</p>
          </div>
          <div class="course">
              <h3>Course of Study</h3>
              <p>BSC. COMPUTER SCIENCE</p>
          </div>
      </div>
          <!-- Basic Section Ended-->
          <!-- NSS Column Started -->
      <div class="nssNumber">
        <div class="NSS">
          <h3>NSS NUMBER</h3>
          <p>NSSGUE7853324 </p>
      </div>
      <div class="INDEX">
          <h3>Index Number</h3>
          <p>UEB3509820</p>
      </div>
      <div class="INDEX">
          <h3>Enrolment Status</h3>
          <p>User Agency Acceptance, Approved By Region </p>
      </div>
      </div>
      <!-- NSS Column Ended -->
  </div>
  <div class="hero2">


  <div class="posting">
      <h3>Place of Posting</h3>
      <p>UNIVERSITY OF GHANA - GRADUATE STUDENTS' ASSOCIATION OF GHANA-LEGON, LA </p>
      <p>NKWANTANANG MADINA MUNICIPAL DISTRICT, GREATER ACCRA REGION </p>
  </div>
</div>
