<div class="container">
  <div class="otp-card">
    <h2>Resend OTP</h2>
    <form #f="ngForm"  (ngSubmit)="resendOtp()">
      <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="email"
          id="email"
          [(ngModel)]="resendotp.email"
          #email=ngModel
          name="email"
          class="form-control"
          required
          placeholder="Enter your email"
          [class.ng-invalid]="email.invalid && email.touched"
          [pattern]="constant.emailRegex"
        />
        <div *ngIf="email.invalid && email.touched"  class="alert">
          <p *ngIf="email.errors?.['required']">{{ constant.REQUIRED }}</p>
          <p *ngIf="email.errors?.['pattern']">{{ constant.EMAIL_INVALID }}</p>
          <p *ngIf="email.errors?.['maxlength']">{{ constant.MAX_LENGTH(constant.maxLength) }}</p>
        </div>
      </div>
      <button type="submit" class="btn">GENERATE NEW OTP</button>
    </form>
  </div>
</div>
