<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NSS Personnel Registration Portal</title>

</head>

<body>

  <main>
    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>

    <form #f="ngForm">
    <div id="p1" class="row">
      <div class="col">
          <label for="username">User Name:</label>
          <input type="text" class="form-control form-control-lg" id="username" [(ngModel)]="user.username" autocomplete="username" name="username" ngModel
            #username="ngModel" [minlength]="constant.minLength" [maxlength]="constant.maxLength"
            [class.ng-invalid]="username.invalid && username.touched" required />
          <div *ngIf="username.invalid && username.touched"  class="alert">
            <p *ngIf="username.errors?.['required']">{{ constant.REQUIRED }}</p>
            <p *ngIf="username.errors?.['minlength']">{{ constant.MIN_LENGTH(constant.minLength) }}</p>
            <p *ngIf="username.errors?.['maxlength']">{{ constant.MAX_LENGTH(constant.maxLength) }}</p>
          </div>
    </div>


    <div class="col" id="p2">
      <div>
        <label for="gender">GENDER:</label>
        <select class="form-select form-select-lg" id="gender" [(ngModel)]="user.gender" name="gender" ngModel #gender="ngModel"
          [class.ng-invalid]="gender.invalid && gender.touched" required>
          <option value="">Select Gender</option>
          <option value="M">Male</option>
          <option value="F">Female</option>
        </select>
        <div class="alert">
          @if(gender.invalid && gender.touched){
          @if(gender.hasError('required')){
          <p>{{ constant.REQUIRED }}</p>
          }
          }
        </div>
      </div>
</div>
</div>

        <div class="row">
          <div class="col">
            <label for="email">EMAIL:</label>
            <input type="email" class="form-control form-control-lg" id="email" [(ngModel)]="user.email" name="email" autocomplete="email" #email="ngModel"
              [class.ng-invalid]="email.invalid && email.touched" required [pattern]="constant.emailRegex" />
            <div *ngIf="email.invalid && email.touched" class="alert">
              <p *ngIf="email.errors?.['required']">{{ constant.REQUIRED }}</p>
              <p *ngIf="email.errors?.['pattern']">{{ constant.EMAIL_INVALID }}</p>
              <p *ngIf="email.errors?.['maxlength']">{{ constant.MAX_LENGTH(constant.maxLength) }}</p>
            </div>
          </div>

          <div class="col">
            <label for="gender">USER TYPE:</label>
            <select class="form-select form-select-lg" id="gender" [(ngModel)]="user.user_type" name="user_type" ngModel #user_type="ngModel"
              [class.ng-invalid]="user_type.invalid && user_type.touched" required>
              <option value="">Select </option>
              <option value="nss">National Service Personel</option>

            </select>
            <div class="alert">
              @if(user_type.invalid && user_type.touched){
              @if(user_type.hasError('required')){
              <p>{{ constant.REQUIRED }}</p>
              }
              }
            </div>
          </div>


        </div>


        <div class="row">

        <label for="region_of_posting">Password:</label>
        <input type="password" class="form-control form-control-lg" id="password" placeholder="Enter your password" [(ngModel)]="user.password"
          name="password" autocomplete="current-password" #password="ngModel" [minlength]="constant.minLength"
          [class.ng-invalid]="password.invalid && password.touched" required />
        <div class="alert">
          @if(password.invalid && password.touched){
          @if(password.hasError('required')){
          <p>{{ constant.REQUIRED }}</p>
          }
          @if(password.hasError('minPasswordLength')){
          <p>{{ constant.minLength}}</p>
          }
          }
        </div>


        </div>

      <!-- Action Buttons -->
      <div class="row">
<div class="col">
          <button
          [disabled]="isLoginLoading"
          (click)="onLogin()"
          type="button" class="btn btn-primary btn-lg">

          <span *ngIf="isLoginLoading" class="spinner-border spinner-border-sm text-info"></span>
          Login
        </button>
</div>
<div class="col">
  <button type="button" class="btn btn-success btn-lg" [disabled]="f.invalid" (click)="onSubmit()" >
    <span *ngIf="isLoading" class="spinner-border spinner-border-sm text-success"></span>
    Submit
  </button>
</div>
<div *ngIf="successMessage" class="success-message">
  {{ successMessage }}
</div>
</div>
    </form>
  </main>
  <router-outlet></router-outlet>
</body>

</html>
